:root {
  --translate-value: 23%;
  --scale-value: 1.5;
}



.middlediv{
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#image-div{
  background-image: url('/charListWebp.webp'); /* Adjust the path as necessary */
  background-size: cover;
  filter: sepia(100%); 
  /* transform: scale(0.5); */
  opacity: 0.1;
  animation: slide 240s linear infinite;
}
@keyframes slide {
  0% {
    transform: translateX(calc(var(--translate-value) * -1)) translateY(calc(var(--translate-value) * -1)) scale(var(--scale-value));
  }
  25% {
    transform: translateX(var(--translate-value)) translateY(calc(var(--translate-value) * -1)) scale(var(--scale-value));
  }
  50% {
    transform: translateX(var(--translate-value)) translateY(var(--translate-value)) scale(var(--scale-value));
  }
  75% {
    transform: translateX(calc(var(--translate-value) * -1)) translateY(var(--translate-value)) scale(var(--scale-value));
  }
  100% {
    transform: translateX(calc(var(--translate-value) * -1)) translateY(calc(var(--translate-value) * -1)) scale(var(--scale-value));
  }
}

.page-height{
  height: calc(100vh - 70px);
  height: calc(100svh - 70px);
}

.sidebar-height{
  height: 100vh;
  height: 100svh;
}


.div-container {
  background-color: transparent;
  height: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;
}
.top-bar {
  position: absolute;
  width: 30px;
  height: 4px;
  transition: transform 0.3s ease-in-out;
  
  background-color: white;
  top: 0px;
}
.mid-bar {
  position: absolute;
  width: 30px;
  height: 4px;
  transition: transform 0.3s ease-in-out;
  
  background-color: white;
  top: 13px;
}
.bottom-bar {
  position: absolute;
  width: 30px;
  height: 4px;
  transition: transform 0.3s ease-in-out;
  
  background-color: white;
  bottom: 0px;
}
.bar-open-top {
  transform: translate(0px, 13px) rotate(45deg);
  transform-origin:center;
}
.bar-open-bottom {
  transform: translate(0px, -13px) rotate(-45deg);
  transform-origin:center;
}
.bar-open-middle {
  transform: scale(0);
}

.side-bar-animation{

  transform: translateX(150px); /* Initial position, assuming the sidebar is 150px wide */
  background: rgb(55, 65, 81); /* Initial color */
  transition: transform 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.side-bar-animation.active {
  transform: translateX(0); /* Slide in when active */
  background: rgb(31, 41, 55); /* Final color */
}
