

.footermasterdiv{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}


.footerdiv{
	width: 100%;
	height: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: maroon;
}

.footerdiv2{
	width: 100%;
	height: 15px;
	display: grid;
	justify-content: center;
	background-color: maroon;
}

.footercol1,.footercol2,.footercol3{
	margin: 10% 0px;
	display: grid;
	justify-content: center;
}

.footerword{
	color: white;
	margin:0px;
	font-size: 0.7rem;
}

.footerllc{
	color: white;
	font-style:italic;
	margin:0px;
	letter-spacing: 1px;
	font-size: 0.6rem;
}

.footerword:hover{
	color:grey;
	cursor:pointer;
}

.footerword:visited{
	text-decoration: none;
	color:white;
	cursor:pointer;
}
.footerword:active{
	text-decoration: none;
	color:white;
	cursor:pointer;
}


