
.navclass{
	width:100%;
	height: 100%;
	
}
.navpoints{
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: maroon;
	list-style-type: none;


	display: flex;
	justify-content: start;
}







#navoption{
	background-color: maroon;
	color: white;
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
}

#navoption a{
	text-decoration: none;
}

#navoption:hover{
	background-color: rgb(162, 97, 97);	
}

#navoption:first-child{
	margin-left: 0.5em;	
}



/*Anchor Tags*/
a{
	text-decoration: none;
	color:white;
	font-size: 0.8rem;
	line-height: 12px;
}
a:visited{
	text-decoration: none;
	color:white;
}
a:active{
	text-decoration: none;
	color:white;
}
a:hover{
	text-decoration: none;
	color:white;	
}